.timeSignaturesInput {
  display: flex;
  flex-direction: column;

  &__heading {
    margin-bottom: 1rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: fit-content;
  }

  input {
    border: $border;
    border-radius: $borderRadius;
    padding: 0.5rem;

    &:first-of-type {
      margin-bottom: 0.5rem;
    }
  }
}