.dialog {
  border: 0;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  height: 36rem;
  left: calc(50% - 12rem);
  padding: 1rem;
  position: absolute;
  top: calc(50% - 18rem);
  width: 24rem;

  &::backdrop {
    background-color: $blur;
    backdrop-filter: blur(0.25rem);
  }

  &__close {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  &__content {
    margin-top: 2.5rem;
  }
}
