/* General Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100vh;
  max-width: 100%;
}

html {
  background-color: $backgroundColor;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none; /* Chrome */
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  .blocked {
    overflow-y: hidden;
  }
}

.App {
  padding: 2rem;
}









.table {
  overflow-x: scroll;
}

table {
  background-color: $white;
  border: 1px solid $light-gray;
  border-collapse: separate;
  border-radius: 0.375rem;
  border-spacing: 0;
  width: max-content;

  & > thead > tr > th,
  & > tbody > tr:not(:last-child) > td {
    border-bottom: 1px solid $light-gray;
  }

  th,
  td {
    padding: 0.5rem;
  }

  th {
    text-align: left;
  }

  .time-signature {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;

    span:first-of-type {
      border-bottom: 2px solid $black;
      text-align: center;
      width: 1rem;
    }
  }
}

.add-song {
  margin-bottom: 1rem;
}

form {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);

  > * {
    grid-column: span 4;
  }

  .polyrhythmsInput,
  .timeSignaturesInput {
    grid-column: span 2;
  }

  button {
    justify-self: flex-end;
  }
}

.input {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 0.5rem;
  }

  input,
  select {
    border: 1px solid $black;
    border-radius: 0.375rem;
    padding: 0.5rem;
  }
}

.checkboxGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  strong {
    margin-bottom: 1rem;
  }

  div {
    margin-bottom: 0.5rem;
  }

  input {
    height: 0;
    opacity: 0;
  }

  label {
    position: relative;
    left: 1rem;

    &::before {
      background: $white;
      border: 1px solid $black;
      border-radius: 0.375rem;
      content: "";
      height: 1.25rem;
      left: -29px;
      position: absolute;
      width: 1.25rem;
    }
  }

  input:checked + label::after {
    border-bottom: 2px solid $black;
    border-left: 2px solid $black;
    content: "";
    height: 7px;
    left: -29px;
    position: absolute;
    transform: rotate(314deg) translateY(5px);
    width: 13px;
  }
}

.songCard {
  background: $white;
  border-radius: .375rem;
  color: $black;
  cursor: pointer;
  margin-bottom: 1rem;
  width: 100%;

  summary {
    background: $light-gray;
    border-radius: .375rem;
    color: $white;

    &:hover {
      background: $light-gray-hover;
    }

    &:active {
      background: $light-gray-active;
    }
  }

  summary,
  section {
    padding: 2rem;
  }

  section {
    h2,
    h3,
    h4,
    h5,
    table,
    div {
      margin-bottom: 0.5rem;
    }
  }
}
