/* General Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100vh;
  max-width: 100%;
}

html {
  background-color: $backgroundColor;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none; /* Chrome */
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  .blocked {
    overflow-y: hidden;
  }
}

.App {
  padding: 2rem;
}

/* Grid */
.container {
  display: grid;
  grid-template-areas:
    "header header"
    "aside main";
  grid-template-columns: repeat(12, 1fr);
  height: 100vh;
}

header {
  grid-area: header;
  grid-column: span 12;
  grid-row: span 2;
}

aside {
  grid-area: aside;
  grid-column: span 3;
  grid-row: span 10;
}

main {
  grid-area: main;
  grid-column: span 9;
  grid-row: span 10;
  // overflow-x: scroll;
}

section {
  overflow-x: scroll;
}

table {
  background-color: $white;
  border: 1px solid $light-gray;
  border-collapse: separate;
  border-radius: 0.375rem;
  border-spacing: 0;
  width: max-content;

  & > thead > tr > th,
  & > tbody > tr:not(:last-child) > td {
    border-bottom: 1px solid $light-gray;
  }

  th,
  td {
    padding: 0.5rem;
  }

  th {
    text-align: left;
  }

  .time-signature {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;

    span:first-of-type {
      border-bottom: 2px solid $black;
      text-align: center;
      width: 1rem;
    }
  }
}

.add-song {
  margin-bottom: 1rem;
}

form {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);

  > * {
    grid-column: span 4;
  }

  .polyrhythmsInput,
  .timeSignaturesInput {
    grid-column: span 2;
  }

  button {
    justify-self: flex-end;
  }
}
