$black: #000000;
$white: #ffffff;

$blue: #2668ba;
$blue-hover: darken($blue, 10%);
$blue-active: darken($blue-hover, 10%);

$gray: #b2b2b2;
$gray-hover: darken($gray, 10%);
$gray-active: darken($gray-hover, 10%);
