html {
  font-size: 100%;
  font-weight: normal;
}

body {
  font-style: normal;
  letter-spacing: 0.04em;
}

// reset
h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: 0;
}

li {
  display: flex;
}

table {
  background-color: $white;
  border: 1px solid $light-gray;
  border-collapse: separate;
  border-radius: 0.375rem;
  border-spacing: 0;
  width: max-content;

  & > thead > tr > th,
  & > tbody > tr:not(:last-child) > td {
    border-bottom: 1px solid $light-gray;
  }

  th,
  td {
    padding: 0.5rem;
  }

  th {
    text-align: left;
  }

  .time-signature {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;

    span:first-of-type {
      border-bottom: 2px solid $black;
      text-align: center;
      width: 1rem;
    }
  }
}

.input {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 0.5rem;
  }

  input,
  select {
    border: 1px solid $black;
    border-radius: 0.375rem;
    padding: 0.5rem;
  }
}
