.songCard {
  background: $white;
  border-radius: $borderRadius;
  cursor: pointer;
  margin-bottom: 1rem;
  width: 100%;

  summary {
    background: $light-gray;
    border-radius: $borderRadius;
    color: $white;

    &:hover {
      background: $light-gray-hover;
    }

    &:active {
      background: $light-gray-active;
    }
  }

  summary,
  section {
    padding: 2rem;
  }

  section {
    h2,
    h3,
    h4,
    h5,
    table,
    div {
      margin-bottom: 0.5rem;
    }
  }
}
