.polyrhythmsInput {
  display: flex;
  flex-direction: column;

  &__heading {
    margin-bottom: 1rem;
  }

  &__content {
    align-items: center;
    display: flex;
    flex-direction: row;

    span {
      margin: 0 0.5rem;
    }
  }

  input {
    border: $border;
    border-radius: $borderRadius;
    padding: 0.5rem;
  }
}
