.searchView {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  &__query {
    grid-column: 4 / span 6;
  }

  &__change-view {
    display: flex;
    grid-column: span 12;
    margin-bottom: 2rem;
    justify-content: flex-end;
  }

  &__aside {
    grid-column: span 3;
  }

  &__results {
    grid-column: span 9;
  }
}

.checkboxGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  strong {
    margin-bottom: 1rem;
  }

  div {
    margin-bottom: 0.5rem;
  }

  input {
    height: 0;
    opacity: 0;
  }

  label {
    position: relative;
    left: 1rem;

    &::before {
      background: $white;
      border: $border;
      border-radius: $borderRadius;
      content: "";
      height: 1.25rem;
      left: -29px;
      position: absolute;
      width: 1.25rem;
    }
  }

  input:checked + label::after {
    border-bottom: 2px solid $black;
    border-left: 2px solid $black;
    content: "";
    height: 7px;
    left: -29px;
    position: absolute;
    transform: rotate(314deg) translateY(5px);
    width: 13px;
  }
}